.container_img {
    position: relative;
    // @media(max-width: 1200px) {
    //     height: 80vh;
    // }
    @media(max-width: 1000px) {
        height: 50vh;
    }
    @media(max-width: 850px) {
        height: 45vh;
    }
    @media(max-width: 800px) {
        height: 40vh;
    }
    @media(max-width: 600px) {
        height: 30vh;
    }
    .img {
        height: 78.9vh;
        width: 100%;
        margin-bottom: 80px;
        @media (max-width: 1800px) {
            height: 60vh;
        }
        @media (max-width: 1200px) {
            height: 40vh;
        }
        @media(max-width: 1000px) {
            height: 40vh;
        }
        @media (max-width: 800px) {
            height: 35vh;
        }
        @media (max-width: 600px) {
            height: 25vh;
        }
    }
}

.h2_img {
    position: absolute;
    left: 150px;
    bottom: 300px;
    width: 30vw;
    height: 17.9vh;
    display: flex;
    align-items: center;
    @media (max-width: 1800px) {
        height: 30vh;
        width: 30vw;
        bottom: 200px;
    }
    @media (max-width: 1200px) {
        bottom: 250px;
        height: 10vh;
        width: 32vw;
    }
    @media(max-width: 800px) {
        bottom: 150px;
    }
    @media (max-width: 600px) {
        bottom: 80px;
        left: 80px;
        width: 50vw;
    }
    @media (max-width: 350px) {
        bottom: 50px;  
        left: 60px;     
    }
    h2 {
        color: #fff;
        font-size: 2vw;
        @media (max-width: 1800px) {
            font-size: 2.8vw;
        }
        @media (max-width: 1200px) {
           font-size: 2.5vw;
        }
        @media (max-width: 600px) {
            font-size: 4vw;
        }
        @media (max-width: 350px) {
            font-size: 3.2vw;
        }
    }
}

