.container {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.1rem;
    padding-top: 3.1rem;
    min-height: 100vh;
}

.boxTitle {
    // border: 2px solid red;
    .title {
        font-size: 1.8;
        color: #000000;
    }
}

.form {
    border: 3px solid #005695;
    border-radius: 1.2rem;
    width: 23vw;
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.1rem;
    .boxInfo {
        // border: 2px solid;
        display: flex;
        align-items: center;
        width: 18vw;
        justify-content: space-around;
        img {
            width: 3vw;
        }
        h3 {
            // border: 2px solid red;
            color: #005695;
            font-size: 1.3vw;
        }
    }
    .input {
        width: 15vw;
        padding: 10px;
        border: 2px solid #005695;
        border-radius: 0.62rem;
        &::placeholder {
           font-size: 1rem;
           color: #000;
        }
    }

    .button {
        border: none;
        background-color: #005695;
        width: 10vw;
        padding: 0.62rem;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 1.1rem;
        width: 13rem;
    }
}