.post {
    background-image: url('../../assets/imgInicio.png');
    background-repeat: no-repeat;
    background-size: cover; /* Isso já garante que a imagem cobre o container */
    background-position: center; /* Centraliza a imagem */  
    height: 70vh;
    display: flex;
    align-items: center;
    .titlePost {
        // border: 2px solid white;
        color: #fff;
        width: 30vw;
        font-size: 2rem;
        margin-left: 10rem;
    }
}

.h2Cards {
    font-size: 3rem;
    color: #005695;
    margin-left: 6.25rem;
    margin-top: 6rem;
}

.boxCards {
    // border: 2px solid red;
    // height: 80vh;
    padding: 8rem 0 12rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .card {
        // border: 2px solid;
        border-radius: 15px;
        width: 20vw;
        height: 50vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #0157944D;
        cursor: pointer;
        .imgCards {
            // border: 2px solid;
            width: 5vw;
            padding: 3rem 0 4rem;
        }
        .pCards {
            // border: 2px solid;
            text-align: center;
            width: 15vw;
            font-size: 1.2rem;
        }
    }
}