.header {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 17vh;
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    .boxLogo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 25vw;
        .h2 {
            font-size: 1.9vw;
            color: #fff;
        }
    } 

    .boxMenu {
        .pages_header {
            // border: 2px solid red;
            display: flex;
            align-items: center;
            justify-content: space-between;     
            width: 40vw;
            height: 9vh;
            .link {
                color: #fff;
                font-size: 10px;
                font-size: 1.5vw;
            }
        }
    }

    .containerTitle {
        // border: 2px solid red;
        .title {
            color: #fff;
            font-size: 1.5rem;
        }
    }

    .boxSearch {
        border: 2px solid #fff;
        border-radius: 15px;
        padding: 0 1rem; 
        display: flex;
        align-items: center;
        .input {
            border: 0;
            outline: none;
            background-color: transparent;
            font-size: 1rem;
            padding: 1rem 0;
            color: #ffff;
            &::placeholder {
                color: #fff;
            }
        }
    }
}