.boxFooter {
    // border: 2px solid green;
    margin-top: 4rem;
    height: 10vh;
    background-color: #005695;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    .divNumero {
        .numero {
            font-size: 1.2vw;
            color: #fff;
        }
    }
    .divIcons {
        // border: 2px solid red;
        width: 14vw;
        display: flex;
        justify-content: space-between;
        .icons {
            width: 1.6vw;
        }
    }
}

