.container {
    min-height: 100vh;
    margin-bottom: 100px;
}

.titleDoados {
    // border: 2px solid red;
    font-size: 2.2rem;
    text-align: center;
    padding: 5rem 0;
}


.boxCards {
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    justify-items: center;
    gap: 3.1rem 0;
    .cards {
        border: 3px solid #005695;
        border-radius: 10px;
        width: 17vw;
        height: 40vh;
        padding: 0.62rem;
        gap: 0.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        .img {
            border: 2px solid;
            width: 5vw;
            margin-top: 0.9rem;
        }
        .title {
            // border: 2px solid;
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0.4rem 0;
            word-wrap: break-word; /* Permite que palavras longas sejam quebradas */
            word-break: break-word; /* Quebra palavras longas */
            overflow-wrap: break-word; /* Garante que o texto se ajuste ao container */
        }
        .author {
            // border: 2px solid;
            font-size: 1.1rem;
            font-weight: 700;
            font-style: italic;
            word-wrap: break-word; 
            word-break: break-word;
            overflow-wrap: break-word;
        }
        .category {
            // border: 2px solid;
            font-weight: 600;
            word-wrap: break-word; 
            word-break: break-word;
            overflow-wrap: break-word;
        }
        .button {
            padding: 0.55rem;
            border: 0;
            border-radius: 8px;
            width: 100px;
            margin-top: auto;
            background-color: #005695;
            color: #fff;
            cursor: pointer;
            transition: 0.2s;
            font-weight: bold;
        }
        .button:hover {
            background-color: #005795c2;
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Aumentado para acomodar os labels e inputs lado a lado */
    text-align: left; /* Alinhamento do texto à esquerda */
    .titleModal {
        text-align: center;
    }
}

.modalContent form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os campos */
}

.modalContent form div {
    display: flex;
    align-items: center; /* Alinha verticalmente o label e o input */
    gap: 10px; /* Espaçamento horizontal entre o label e o input */
}

.modalContent form label {
    font-weight: bold;
    width: 100px; /* Define uma largura fixa para o label */
    text-align: right; /* Alinha o texto do label à direita */
}

.modalContent form input {
    flex: 1; /* Faz o input ocupar o espaço restante */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modalContent form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalContent form button[type="submit"] {
    background-color: #005695;
    color: white;
}

.modalContent form button[type="button"] {
    background-color: #ccc;
    color: black;
}